################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calabria/FileContentIndex
/.vs/Calabria/v17/.suo
/.vs/Calabria/v17/DocumentLayout.backup.json
/.vs/Calabria/v17/DocumentLayout.json
/Calabria.Models/.vs
/Calabria.Base/.vs
/Calabria.Base/bin/Debug/Calabria.Base.dll
/Calabria.Base/bin/Debug/Calabria.Base.pdb
/Calabria.Base/obj/Debug/Calabria.Base.csproj.AssemblyReference.cache
/Calabria.Base/obj/Debug/Calabria.Base.csproj.CoreCompileInputs.cache
/Calabria.Base/obj/Debug/Calabria.Base.dll
/Calabria.Base/obj/Debug/Calabria.Base.pdb
/Calabria.Base/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Calabria.Services/bin/Debug
/Calabria.Services/obj/Debug
